### 국영수

+ 반 학생 N명의 이름과 국어, 영어, 수학 점수가 주어짐
  1. 국어 점수가 감소하는 순서로
  2. 국어 점수가 같다면 영어 점수가 증가하는 순서로
  3. 국어 점수와 영어 점수가 같다면 수학 점수가 감소하는 순서로
  4. 모든 점수가 같으면 이름이 사전 순으로 증가하는 순서로(아스키코드에서 대문자는 소문자보다 작으므로 앞에옴)

**입력 조건**  
+ 첫째 줄에 도현이네 반의 학생 수 N(1<=N<=100,000)이 주어짐
+ 둘째 줄부터 한 줄에 하나씩 각 학생의 이름, 국어, 영어, 수학 점수가 공백으로 구분해 주어짐
+ 점수는 1보다 크거나 같고, 100보다 작거나 같은 자연수
+ 이름은 알파벳 대소문자로 이루어진 문자열이고, 길이는 10자리를 넘지 않음

**출력 조건**
+ 문제에 나와있는 정렬 기준으로 정렬한 후 첫째 줄부터 N개의 줄에 걸쳐 각 학생의 이름 출력

**입력 예시**  
12  
Junkyu 50 60 100  
Sangkeun 80 60 50    
Sunyoung 80 70 100    
Soong 50 60 90    
Haebin 50 60 100  
Kangsoo 60 80 100  
Donghyuk 80 60 100  
Sei 70 70 70  
Wonseob 70 70 90  
Sanghyun 70 70 80  
nsj 80 80 80  
Taewhan 50 60 90  

**출력 예시**  
Donghyuk    
Sangkeun  
Sunyoung  
nsj  
Wonseob  
Sanghyun  
Sei  
Kangsoo  
Haebin  
Junkyu  
Soong  
Taewhan

In [1]:
n = int(input())

student = []
for _ in range(n):
    a = list(input().split())
    student.append(a)

 12
 Junkyu 50 60 100
 Sangkeun 80 60 50
 Sunyoung 80 70 100
 Soong 50 60 90
 Haebin 50 60 100
 Kangsoo 60 80 100
 Donghyuk 80 60 100
 Sei 70 70 70
 Wonseob 70 70 90
 Sanghyun 70 70 80
 nsj 80 80 80
 Taewhan 50 60 90

In [5]:
# 점수는 int형으로 바꿔주기
for i in range(len(student)):
    for j in range(1,4):
        student[i][j] = int(student[i][j])

student

[['Junkyu', 50, 60, 100],
 ['Sangkeun', 80, 60, 50],
 ['Sunyoung', 80, 70, 100],
 ['Soong', 50, 60, 90],
 ['Haebin', 50, 60, 100],
 ['Kangsoo', 60, 80, 100],
 ['Donghyuk', 80, 60, 100],
 ['Sei', 70, 70, 70],
 ['Wonseob', 70, 70, 90],
 ['Sanghyun', 70, 70, 80],
 ['nsj', 80, 80, 80],
 ['Taewhan', 50, 60, 90]]

In [13]:
# 2차원 리스트 정렬하기 (이거 처음알았는데 진짜 사람들 똑똑하다)
student.sort(key=lambda x: (-x[1], x[2], -x[3], x[0]))
student
'''
[['Donghyuk', 80, 60, 100],
 ['Sangkeun', 80, 60, 50],
 ['Sunyoung', 80, 70, 100],
 ['nsj', 80, 80, 80],
 ['Wonseob', 70, 70, 90],
 ['Sanghyun', 70, 70, 80],
 ['Sei', 70, 70, 70],
 ['Kangsoo', 60, 80, 100],
 ['Haebin', 50, 60, 100],
 ['Junkyu', 50, 60, 100],
 ['Soong', 50, 60, 90],
 ['Taewhan', 50, 60, 90]]
 '''
for i in range(len(student)):
    print(student[i][0])

Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Haebin
Junkyu
Soong
Taewhan