### 예제 4-1 상하좌우

In [1]:
# 가장 왼쪽 위 좌표 (1,1) : 시작 좌표
# 가장 오른쪽 아래 좌표 (N,N)

# L : 왼쪽으로 한 칸 이동
# R : 오른쪽으로 한 칸 이동
# U : 위로 한 칸 이동
# D : 아래로 한 칸 이동

# 입력 조건
# 첫째 줄에 공간의 크기를 나타내는 N이 주어짐 (1 <= N <= 100)
# 둘째 줄에 여행가 A가 이동할 계획서 내용이 주어짐 (1 <= 이동 횟수 <= 100)

# 출력 조건
# 첫째 줄에 여행가 A가 최종적으로 도착할 지점의 좌표 (X,Y)를 공백으로 구분하여 출력

In [2]:
n = int(input())

 5

In [4]:
data = input().split()

 R R R U D D

In [14]:
x = 1; y = 1

for i in range(len(data)):
    if data[i] == 'R':
        if y<5:
            y += 1
    elif data[i] == 'L':
        if y>1:
            y -= 1
    elif data[i] == 'U':
        if x>1:
            x -= 1
    elif data[i] == 'D':
        if x<5:
            x += 1
print(x,y)

3 4

### 예제 4-2 시각

In [16]:
# 정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램 작성하기

# 입력 조건
# 첫째 줄에 정수 N이 입력된다. (0 <= N <= 23)

# 출력 조건
# 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수 출력하기

# 입력 예시 5
# 출력 예시 11475

In [17]:
n = int(input())

 5

In [21]:
count = 0

for i in range(n+1):
    for j in range(60):
        for k in range(60):
            if '3' in str(i) + str(j) + str(k):
                count += 1
print(count)

11475